@import 'hamburger.css';

@font-face {
    font-family: 'Founders Grotesk';
    src: url('./assets/fonts/founders-grotesk.woff2') format('woff2');
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
:root {
    font-family: 'Founders Grotesk', sans-serif;
    --clr-main: #fff;
    --clr-secondary: #000;
    ---clr-gray: #e0e0e0;
    ---clr-brand-main: #83c4be;
    ---clr-brand-secondary: #016d77;
    --easing: cubic-bezier(0.5, 0.7, 0.4, 1);
}

.darkMode {
    --clr-main: #000000;
    --clr-secondary: #fff;
    ---clr-brand-main: #016d77;
    ---clr-brand-secondary: #83c4be;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Founders Grotesk', sans-serif;
    }
}
html {
    font-size: 62.5%;
    user-select: none;
}
body {
    /* line-height: 1.5; */
    -webkit-font-smoothing: antialiased;
    color: var(--clr-secondary);
    background-color: var(--clr-main);
    position: relative;
    /* height: 100vh; */
}
h1 {
    font-weight: normal;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}
button {
    all: unset;
    cursor: pointer;
}
.test123 {
    width: 100vw;
    ming-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.test2 {
    width: 100%;
    height: 50vh;
    background-color: #016d77;
}
.main {
    perspective: 1px;
}
.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.btn {
    font-size: 1.6rem;
    border-radius: 999px;
    padding: 0.5rem 2rem;
}
.btn-brand-main {
    color: #fff;
    background-color: var(---clr-brand-secondary);
    transition: background-color 0.3s var(--easing);
}
.btn-brand-main:hover {
    color: #000;
    background-color: var(---clr-brand-main);
}

.btn-nav {
    background-color: transparent;
    outline: 1px solid #000;
    transition: all 0.3s var(--easing);
    display: none;
}
.btn-nav:hover {
    background-color: var(---clr-brand-secondary);
    color: #fff;
    outline: none;
}
/* Nav Section */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    font-size: 1.6rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999999;
    background: transparent;
    backdrop-filter: blur(40px);
    /* background-color: #fff; */
    /* box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1); */
    /* background-color: var(---clr-gray); */
}
.logo {
    width: 5rem;
}
.navbar__items {
    display: none;
    gap: 2rem;
}
.navbar__items li {
    overflow: hidden;
}
.navbar__items li::after {
    display: block;
    content: '';
    height: 1.6px;
    width: 100%;
    background-color: var(--clr-secondary);
    border-radius: 9999px;
    transform: translateX(-101%);
}
.navbar__items li:hover::after {
    transition: transform 0.3s var(--easing);
    transform: translateX(0);
}
.navbar__items li.animate-out::after {
    transition: transform 0.3s var(--easing);
    transform: translateX(100%);
}
.nav__button {
    display: none;
}
.nav-open {
    width: 0%;
    height: 120dvh;
    background-color: var(---clr-brand-main);
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 4rem;
    z-index: 999999999;
}

.btn-primary {
    border-radius: 9999px;
    outline: solid;
    outline-width: 1px;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s var(--easing);
}
.btn-primary:hover {
    background-color: var(--clr-secondary);
    color: var(--clr-main);
}
.btn-black {
    border-radius: 9999px;
    outline: solid;
    outline-width: 1.6px;
    padding: 0.6rem 3rem;
    transition: color 0.5s var(--easing);
    transition: background-color 0.5s var(--easing);
    background-color: var(--clr-secondary);
    color: var(--clr-main);
    font-size: 1.2rem;
}
.btn-black:hover {
    background-color: var(--clr-main);
    color: var(--clr-secondary);
}
/* Header Section */

.header {
    width: 100%;
    min-height: 100dvh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1400px;
    margin: auto 0;
    padding: 2rem;
    gap: 2rem;
}

.header__wrapper > * {
    max-width: 800px;
}
.header__focus {
    background-color: #83c4be40;
    color: #016d77;
    padding: 0.5rem 2rem;
    border-radius: 999px;
    font-size: 1.4rem;
}
.header__focus span {
    font-weight: bold;
}
.bg-header {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    /* background-color: #000; */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('https://cdna.artstation.com/p/assets/images/images/047/953/772/large/terraform-studios-1nyan-citystreet-part1-v001-002-pd.jpg?1648833569');
}
.header h1 {
    font-weight: normal;
    font-size: 6rem;
    letter-spacing: -0.2rem;
    line-height: 0.9;
}
.header h1:first-child {
    font-size: 6rem;
}
.header p {
    font-size: 2rem;
    color: #016d77;
}

.car {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 45%;
    transform: translate(-50%);
    display: none;
}
.top_gradient {
    z-index: -2;
    position: absolute;
    border-radius: 50%;
    width: 50%;
    height: 75%;
    background-color: var(---clr-brand-main);
    top: -50%;
    right: -20%;
    filter: blur(200px);
}

.bottom_gradient {
    z-index: -2;
    position: absolute;
    border-radius: 50%;
    width: 50%;
    height: 75%;
    background-color: var(---clr-brand-main);
    top: 75%;
    right: 50%;
    filter: blur(200px);
}

.header__btns {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 6rem;
}
.btn-main {
    background-color: #fff;
    color: #000;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: 999px;
}

.btn-secondary {
    color: #fff;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: 999px;
    outline: solid;
    outline-width: 1px;
}
.btn-secondary:hover {
    color: #000;
    background-color: #fff;
}
.header2 {
    /* margin-top: 10rem; */
}
/*Product*/
.product {
    min-height: 100vh;
    width: 100%;
    font-size: 3vw;
    /* background-color: blue; */
    padding: 2rem;
    color: #000;
}
.product2 {
    /* margin-top: 10rem; */
    height: 100vh;
    width: 100%;
    background-color: red;
    padding: 2rem;
}
.product div {
    display: inline-block;
}
.video {
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.video video {
    width: 70%;
    height: 90%;
}

/*Cards*/
.cards {
    min-height: 100vh;
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.card {
    max-width: 250px;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    cursor: pointer;
    min-height: 300px;
}

.card__img {
    width: 100%;
}
.card__img img {
    width: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 5px 5px 0px 0px;
}
.card__info {
    padding: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.card__subtitle {
    background-color: #83c4be40;
    color: var(---clr-brand-secondary);
    font-size: 1.2rem;
    align-self: flex-start;
    padding: 0.25rem 1rem;
    border-radius: 999px;
}

.btn-card-main {
    align-self: flex-end;
    background-color: blue;
    color: #fff;
    padding: 0.4rem 1rem;
    border-radius: 999px;
}

.brand {
    min-height: 30vh;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    padding: 0 5rem;
}
.brand-bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(---clr-brand-secondary);
}
.brand__img {
    display: flex;
    gap: 5rem;
}
.brand__img div {
    width: 10rem;
}
.brand__img div img {
    width: 100%;
}

.brand h1 {
    font-size: 3rem;
}
.brand p {
    font-size: 1rem;
}
.line {
    width: 100%;
    height: 2px;
    background-color: #e0e0e0;
    border-radius: 9999px;
}
/* product feature */
.product_feature {
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
}
.product_feature h1 {
    font-size: 4rem;
    max-width: 25%;
    /* line-height: 1.2; */
    color: #016d77;
}

.product_feature-img {
    width: 50%;
    position: relative;
}
.test {
    position: absolute;
    top: 25%;
    left: 0;
    width: 20rem;
}
.test-2 {
    position: absolute;
    top: 50%;
    right: 0;
    width: 10rem;
}
.test img,
.test-2 img {
    width: 100%;
}
.product_feature-img img {
    width: 100%;
}
.product_feature-desc {
    max-width: 25%;
    line-height: 1.8;
    align-self: center;
    font-size: 1.6rem;
}

.box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.box .content {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    max-width: 60%;
    align-items: start;
}
.box .content span {
    font-size: 1.4rem;
    cursor: pointer;
}
.box h1 {
    font-size: 3rem;
    color: #016d77;
}
.box p {
    font-size: 1.6rem;
}
.box-img {
    width: 50%;
    position: relative;
}
.box-img img {
    width: 100%;
}

.exp,
.exp2 {
    min-height: 50vh;
}
.exp {
    text-align: center;
}
.exp h1,
.exp2 h1 {
    color: #016d77;
}
.exp,
.exp2 {
    font-size: 2rem;
}
.exp2 {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}
.exp2-img-wrap {
    width: 50%;
}
.exp2-img {
    width: 100%;
    height: 100%;
    position: relative;
}
.exp2-img img {
    width: 15rem;
    position: absolute;
}
.exp2-img-1 {
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.exp2-img-2 {
    z-index: 1;
    top: 50%;
    right: 25%;
    transform: translate(-50%, -50%);
}
.exp2-img-3 {
    transform: translate(-50%, 50%);
    bottom: 50%;
    left: 50%;
}
.exp2-img-4 {
    transform: translate(-50%, 50%);
    bottom: 50%;
    right: 25%;
}
/* Featured */
/* .featured {
    width: 100%;
    min-height: 100vh;
    display: flex;
    overflow: hidden;
    padding: 10rem;
}
.featured__img {
    width: 90%;
    position: relative;
    border-radius: 35px;
}
.featured__img img {
    width: 100%;
    position: absolute;
    border-radius: 35px;
} */

footer {
    background-color: var(---clr-brand-secondary);
    color: #ffff;
    display: flex;
    font-size: 3rem;
    min-height: 50vh;
    padding: 5rem;
}

/* Media  Queries */

@media screen and (min-width: 600px) {
    .navbar__items {
        display: flex;
    }
    .nav__button {
        display: block;
    }
    .hamburger {
        display: none;
    }
    .header__btns {
        flex-direction: row;
    }
    .btn-nav {
        display: inline-block;
    }
    .car {
        display: inline-block;
    }
}

@media screen and (min-width: 800px) {
    .navbar__items {
        gap: 5rem;
    }
    .header h1 {
        /* font-size: 8rem; */
    }
    .cards {
        /* justify-content: space-between; */
    }
}
